.title {
  text-align: center;
  margin: 30px 0;
}
.num {
  margin: 15px 0;
}
.item {
  border: 1px solid gainsboro;
  padding: 20px;
  margin-top: 10px !important;
}
.border-column {
  border-right: 1px solid gainsboro;
  margin-right: 10px;
}
